.products-title {
    font-size: 30px;
    margin: 50px 0 10px 0;
    text-align: center; /* Centra el título */
  }
  
  .table-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px; /* Espacio interno dentro del contenedor */
    overflow-y: auto; /* Añade scroll vertical cuando la tabla excede la altura máxima */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center; /* Centra el texto en las celdas */
  }
  
  .styled-table tbody tr {
    background-color: white;
  }
  
  .styled-table th {
    background-color: white;
    color: #717785;
  }
  
  .edit-button button,
  .delete-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(177, 176, 176);
  }
  
  .edit-button button:hover,
  .delete-button button:hover {
    background-color: #f6f7f7;
  }
  
  .automatic-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .automatic-buttons button {
    display: flex;
    width: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
  }
  
  .automatic-buttons button:hover {
    cursor: pointer;
    background: rgb(223, 222, 222);
  }
  